/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Averia+Gruesa+Libre&family=Averia+Serif+Libre:ital@0;1&family=Cherry+Swash&family=Germania+One&family=Goldman:wght@400;700&family=IM+Fell+English:ital@0;1&family=Rye&display=swap'); */

/*

Abril Fatface
Averia Gruesa Libre
Averia Serif Libre
Cherry Swash
Germania One
Goldman
IM Fell English
Rye

*/
:root {
    --indigo-dye: #0d3b66ff;
    --capri: #30c5ffff;
    --african-violet: #b084ccff;
    --shiny-shamrock: #71b48dff;
    --red-ryb: #ff1b1cff;

    --sandy-brown: #fcaa67ff;
    --blue-green: #2f97c1ff;
    --forest-green-crayola: #4da167ff;
    --ruby-red: #a4031fff;
    --light-cyan: #e0fbfcff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* .chat {
    width: 900px;
    display: flex;
    margin: auto;
    justify-content: center;
}

#comment-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -38px;
}

.board {
    height: 100px;
    width: 500px;
    display: flex;
    margin: auto;
    color: white;
    background-color: lightblue;
}

.comment-text {
    font-size: 2rem;
    color: white;
    background-color: black;
} */

.logo {
    height: 35px;
}

.brand-title {
    font-size: 1.4rem;
    margin: 0.5rem;
}

.text {
    line-height: .1rem;

}

.full-name {
    padding: 70px 100px;
    margin: auto;
    color: white;
    font-family: 'Abril Fatface';
    font-size: 2rem;
    line-height: .4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.software {
    line-height: 1rem;
}

.alt-name {
    color: var(--capri);
}

.img-fix {
    position: fixed;
    top: 100px;
    right: 100px;
}

.ryan-name {
    font-size: 4rem;
    margin: 0 0 30px -5px;
}

.alt-full {
    color: var(--red-ryb);
}

.stack {
    margin: 30px 15px;
}

.dev {
    margin: 30px 40px;
}

.loc {
    margin: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: var(--capri);
    font-family: 'Goldman';
    font-weight: 400;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li:hover {
    background-color: #2db5eb;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 400px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* .full-name {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

.parent {
    position: absolute;
    width: 50%;
}

.parent:hover .child {
    transform: translateX(100%);
}

.child {
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: transform 1s;
    animation-direction: normal;
}

.hidden {
    visibility: hidden;
}

#ryan-img {
    height: 275px;
    width: 275px;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: 25px;
    border: 4px solid rgba(255, 255, 255, 0.336);
}

footer {
    position: --webkit-sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--indigo-dye);
}

main {
    background-image: url('../assets/cloudsblack.jpg');
    background-size: 100% 100%;
    object-fit: cover;
    height: 100%;
}

/* 
.capsule {
    height: 270px;
    width: 600px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 2px 12px -2px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.wrapper:hover {
    box-shadow: 0px 0px 10px 32px rgb(255, 215, 0);
}

.capsule:hover {
    cursor: pointer;

}

.capsule:active {
    scale: 0.995;
}

#hi {
    font-size: 2rem;
}

#name {
    font-size: 1.5rem;
}

#desc {
    font-size: 1.1rem;
}

.text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.left {
    height: 100%;
    width: 100%;
    background: red;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-right: 20px solid rgba(226, 0, 0, 0.9);
    border-bottom: 10px solid rgba(226, 0, 0, 0.92);
    border-top: 10px solid rgba(226, 0, 0, 0.3);
    border-left: 10px solid rgba(226, 0, 0, 0.4);
    box-shadow: inset 8px 12px 12px -2px rgba(255, 255, 255, 0.795);
}

.right {
    height: 100%;
    width: 100%;
    background: blue;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-left: 20px solid rgba(0, 0, 226, 0.9);
    border-bottom: 10px solid rgba(0, 0, 226, 0.9);
    border-top: 10px solid rgba(0, 0, 226, 0.9);
    border-right: 10px solid rgba(0, 0, 226, 0.8);
    box-shadow: inset 1px 2px 22px -14px;
    box-shadow: inset -8px 2px 12px -4px rgb(255, 255, 255, 0.795);
} */